# Analisis causal churn

In [1]:
import warnings
warnings.simplefilter('ignore')

import pandas as pd
import chart_studio.plotly as py
import cufflinks as cf
cf.go_offline()

from causalnex.structure import StructureModel
from causalnex.plots import plot_structure

### preparacion de la data

In [2]:
data=pd.read_csv('data/churn.csv')
data.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,MonthLevel,TotalLevel,TenureLevel,ChurnBinary
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,Month-to-month,Yes,Electronic check,29.85,29.85,No,Low,Very Low,New,0.0
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,One year,No,Mailed check,56.95,1889.50,No,Low,Moderate,Loyal,0.0
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,Low,Very Low,New,1.0
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,One year,No,Bank transfer (automatic),42.30,1840.75,No,Low,Moderate,Loyal,0.0
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,Moderate,Very Low,New,1.0

In [3]:
data.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn',
       'MonthLevel', 'TotalLevel', 'TenureLevel', 'ChurnBinary'],
      dtype='object')

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7032 entries, 0 to 7031
Data columns (total 25 columns):
customerID          7032 non-null object
gender              7032 non-null object
SeniorCitizen       7032 non-null int64
Partner             7032 non-null object
Dependents          7032 non-null object
tenure              7032 non-null int64
PhoneService        7032 non-null object
MultipleLines       7032 non-null object
InternetService     7032 non-null object
OnlineSecurity      7032 non-null object
OnlineBackup        7032 non-null object
DeviceProtection    7032 non-null object
TechSupport         7032 non-null object
StreamingTV         7032 non-null object
StreamingMovies     7032 non-null object
Contract            7032 non-null object
PaperlessBilling    7032 non-null object
PaymentMethod       7032 non-null object
MonthlyCharges      7032 non-null float64
TotalCharges        7032 non-null float64
Churn               7032 non-null object
MonthLevel          7032 non-null object
TotalLevel          7032 non-null object
TenureLevel         7032 non-null object
ChurnBinary         7032 non-null float64
dtypes: float64(3), int64(2), object(20)
memory usage: 1.3+ MB

In [5]:
def one_hot(df, columns, drop_first=True): 
    dummy=pd.get_dummies(df, 
                         columns=columns, 
                         drop_first=drop_first)
    return dummy

In [6]:
data=data.drop(columns=['customerID', 'Churn'])

In [7]:
data=one_hot(data, ['Partner', 'Dependents', 'PhoneService', 'MultipleLines', 'OnlineSecurity',
                    'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies',
                    'Contract', 'PaperlessBilling', 'PaymentMethod', 'MonthLevel', 'TotalLevel', 
                    'TenureLevel', 'InternetService', 'gender'])

In [8]:
data.head()

,gender,SeniorCitizen,tenure,InternetService,MonthlyCharges,TotalCharges,ChurnBinary,Partner_Yes,Dependents_Yes,PhoneService_Yes,...,MonthLevel_Moderate,MonthLevel_Very High,MonthLevel_Very Low,TotalLevel_Low,TotalLevel_Moderate,TotalLevel_Very High,TotalLevel_Very Low,TenureLevel_New,TenureLevel_Regular,TenureLevel_Very Loyal
0,Female,0,1,DSL,29.85,29.85,0.0,1,0,0,...,0,0,0,0,0,0,1,1,0,0
1,Male,0,34,DSL,56.95,1889.50,0.0,0,0,1,...,0,0,0,0,1,0,0,0,0,0
2,Male,0,2,DSL,53.85,108.15,1.0,0,0,1,...,0,0,0,0,0,0,1,1,0,0
3,Male,0,45,DSL,42.30,1840.75,0.0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,Female,0,2,Fiber optic,70.70,151.65,1.0,0,0,1,...,1,0,0,0,0,0,1,1,0,0

### red bayesiana

In [ ]:
sm=StructureModel()
sm